body {
    background-image: url(./img/ac.jpg);
    background-repeat:repeat;
    background-size: cover;
    color: red;
}

div {
    width: 200px;
    height: 200px;
    border: red solid 3px;
    float: left;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

#divA {
    background: url(./img/back_mantel.jpg);
}

#divB {
    background-image: url(./img/back_mantel.jpg);
    background-size: cover;
    background-repeat: repeat;
}